html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-white);
  background: var(--gradient-standard);
}

.orange-background {
  background: var(--gradient-standard);
  color: var(--text-white);
}

.orange-background a {
  color: var(--text-white);
}

.cream-background {
  background: linear-gradient(210deg, var(--cream), var(--light-yellow));
  color: black;
}

.cream-background a {
  color: var(--brick-red);
}

/* For nested italics */
i cite {
  font-style: normal;
}
