.page-section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Styles for content pages (FAQ, etc.) */

.content-page {
  width: 60%;
  margin: 0 auto;
  border: var(--card-border);
  border-radius: 3rem;
  padding: 2rem;
  box-sizing: border-box;
}

.content-page :first-child {
  margin-top: 0.25rem;
}

.content-page-container {
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .content-page {
    width: 90%;
    border-radius: 1.5rem;
  }
}

.section-footer {
  margin-top: 1rem;
  text-align: center;
  color: #444;
  font-size: smaller;
}
