.site-nav-link {
  display: inline-block;
  position: relative;
  color: var(--text-white);
  text-decoration: none;
  padding-bottom: 0.15rem;
}

/**
 * The following two style rules control an animated underline effect for navigation
 * links using the .site-nav-link::after pseudo-element.
 * Further reading on this technique: https://css-irl.info/animating-underlines/
 * and https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
 */

.site-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.15rem; /* controls distance between underline and text */
  width: 100%;
  height: 1px;
  background-color: currentColor; /* same color as text */
  transform: scaleX(0); /* collapses to zero width by default */
  transform-origin: left;
  transition: transform var(--transition-standard);
}

.site-nav-link:hover::after,
.site-nav-link:focus::after,
.site-nav-link:focus-visible::after {
  transform: scaleX(1); /* expands to full width on hover/focus */
}

.icon-link {
  color: var(--text-white);
  transition: filter var(--transition-standard);
}

.icon-link:hover,
.icon-link:focus,
.icon-link:focus-visible {
  filter: drop-shadow(0 0 3px var(--subway-orange));
}
